/* set the default transition time */
:root {
    --animation-time: 2s;
}

.rain-drop {
    background-color: rgba( 211, 224, 237, 0.112 );
    position: fixed;
    border-radius: 50%;
    animation: pulse var(--animation-time) infinite;
    box-shadow: 0 0 0 rgba( 211, 224, 237, 0.812 );
    z-index: -100;
}

.lily-pad {
    background-color: #2a8248;
    border-radius: 50%;
    position: fixed;
    z-index: -50;
    animation: float var(--animation-time) ease-in-out infinite;
}

/* .lily-pad {
background-color: transparent;
border-radius: 50%;
position: fixed;
z-index: -50;
border-style: solid;
border-width: 5em;
border-color: red green blue transparent;
animation: float var(--animation-time) ease-in-out infinite;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100%;
}

.hr {
    border: 0;
    height: 0.1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(252, 252, 252, .6), rgba(0, 0, 0, 0));
}

.background {
    width: 100%;
    min-height: 100%;
    z-index: 0;

    /* if  radial gradient screws up */
    background-color: #222c3e;
    background: linear-gradient(to bottom, #6D848B, #222c3e);
    background-image: linear-gradient(-125deg, #6D848B , #222c3e) fixed;


    background-image: radial-gradient(#6D848B, #222c3e);
    background: -moz-radial-gradient(#6D848B, #222c3e); /* FF3.6+ */
    background: -webkit-gradient(circle, #6D848B, #222c3e); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(#6D848B 0%,#222c3e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -webkit-radial-gradient(circle, #6D848B, #222c3e);
    background: -o-radial-gradient(#6D848B 0%,#222c3e 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(#6D848B 0%,#222c3e 100%); /* IE10+ */
    position: relative;
}
.title-screen {
    /* height: 100vh;
    min-height:100vh; */
}
.pro-pic {
    border-radius: 50%;
    height: 10em;
    width: 10em;
    border: .1em solid #f1f8ff;
}

.profile {
    text-align: center;
}

.container {
    padding-top: 6em;
    box-sizing:border-box;  /** add this **/
    -moz-box-sizing:border-box; /** add this **/
    -webkit-box-sizing:border-box; /** add this **/
    -ms-box-sizing:border-box; /** add this **/
    z-index: 100
    position: relative;
}

.header-text {
    font-family: "Space Mono", monospace;
    color: #494949;
    font-size: 18pt;
    margin-top: 0em;
    margin-bottom: .5em;
}

.email {
    display: inline;
}

.body-text {
    font-family: "Work Sans", sans-serif;
    color: #666666
}

.link {
    color: #098484;
    font-family: "Work Sans", sans-serif;
    transition: color .3s ease;
}

.link:hover {
    color: #12c3c3;
}

.link:active {
    color: #237575;
}

.personal-info {
    margin: .2em;
    font-size: 10pt
}

.card {
    border: 1px solid gray;
    background-color: #f1f8ff;
    width: 20em;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0em 1em 5em rgba(0,0,0,0.6);
    z-index: 100;
}
.info-card {
    display: inline-block;
}
.link-box-warapper {
    padding-top: 5em
    text-align: center;
    display: block;
}

.link-box {
    display: inline-block;
    text-align: left;
}

.link-box-wrapper {
    margin-top: 3em;
    text-align: center;
}

.link-big {
    font-family: "Work Sans", sans-serif;
    font-size: 25pt;
    text-decoration: none;
    color: azure;
    transition: background-color .5s ease, color .5s ease;
}


.link-big:hover {
    background-color: #f1f8ff;
    color: #606265;
}

.link-big:active {
    background-color: #606265;
    color: #f1f8ff;
}

.link-container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.card-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

.year {
    margin: 1em;
    margin-left: 3em;
}

.year-text {
    color: whitesmoke;
    font-size: 20pt;
}

.projects {
    background-color: transparent;
}

.projects-heading {
    text-align: center;
    margin: 2em;
}

.project-heading-headers {
    margin: .5em;
}

.projects-header {
    color: #f1f8ff;
    font-size: 35pt;
}

.projects-subheader {
    color: #f1f8ff;
    font-size: 12pt;
}

.project-cards-container {
    display: grid;
    grid-gap: 1em;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(40em, max-content));
}

.project-card {
    width: auto;
    max-width: 47em;
}

.project-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-info {
    margin: 1em;
    flex-basis: 20em;
    height: auto;
}

.project-title {

}

.project-status {

}

.status-text {
    border-radius: .2em;
    font-size: 10pt;
    color: whitesmoke;
}

.in-development {
    background-color: #bfbf6e;
}

.finished {
    background-color: #91c4af;
}
.project-description {
    margin-top: .2em;
    margin-bottom: .2em;
}

.project-image-container {
    height: 22em;
    flex-basis: 22em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(1em 1em 1em rgb(132, 132, 132));
    border-radius: 0.2em;
}
.about {
    background-color: transparent;
}

.footer {
    background-color: transparent;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(161, 216, 229, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 1em rgba(161, 216, 229, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(161, 216, 229, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(161, 216, 229, 0.4);
        box-shadow: 0 0 0 0 rgba(161, 216, 229, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 1em rgba(161, 216, 229, 0);
        box-shadow: 0 0 0 1em rgba(161, 216, 229, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(161, 216, 229, 0);
        box-shadow: 0 0 0 0 rgba(161, 216, 229, 0);
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 20px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 20px 20px 0px rgba(0,0,0,0.2);
        transform: translatey(-10px);
    }
    100% {
        box-shadow: 0 5px 20px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
/* Desktops and TVs */
@media only screen and (min-height: 866px) {

}
/*  Laptops  */
@media only screen and (max-height: 866px) {
    .body {
        min-height: 100%;
    }
    .background {
        min-height: 100%;
    }
    .container {
        padding-top: 1em;
    }
}

@media only screen and (max-height: 786px) {
    .container {
        padding-top: 1em;
    }
    .link-box-wrapper {
        margin-top: .5em;
    }
}

@media only screen and (max-height: 750px) {
    .container {
        padding-top: 1em;
    }
    .link-box-wrapper {
        margin-top: .5em;
    }
    .link-container {
        margin-top: 1em;
    }
}

/* Large Tablets (portrait) */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        padding-top: 10em;
    }
    .link-box-wrapper {
        margin-top: 8em;
    }
}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px) {
    .info-card {
        width: 18em;
    }
    .link-box-wrapper {
        margin-top: 1em;
    }
}

@media only screen and (min-height: 683px) {
    .title-screen {
        height: 100vh;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 1523px) {
    .project-image-container {
        height: 18em;
        flex-basis: 18em;
    }
    .project-card {
        max-width: 42em;
    }
}

@media only screen and (max-width: 1396px) {
    .project-image-container {
        height: 17em;
        flex-basis: 17em;
    }
}

@media only screen and (max-width: 670px) {
    .project-cards-container {
        grid-template-columns: minmax(1em, max-content);
    }
    .project-card {
        width: 30em;
    }
    .project-container {
        justify-content: center;
    }
    .project-image-container {
        height: 18em;
        flex-basis: 18em;
    }
}

@media only screen and (max-width: 540px) {
    .project-card {
        width: 25em;
    }
}

@media only screen and (max-width: 450px) {
    .project-card {
        width: 19em;
    }
}
